body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: black;
  align-content: inherit;
}

/* style for cover photo of home page(cover)*/
.cover-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("portfolio.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 2rem;
  box-sizing: border-box;
}
/* style for home cover photo */

/* style for cover photo of personal information page (parallax) */
.cover-personal {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("personal.png");
  min-height: 650px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;

}
/* style for cover photo of personal information page (parallax) */


/* style for cover photo of about page (parallax) */
.cover-About {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("About.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}
/* style for cover photo of about page (parallax) */


/* style for cover photo of skills page (parallax) */
.cover-skills {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("skills.jpg");
  min-height: 900px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}
/* style for cover photo of skills page (parallax) */


/* style for cover photo of contact page (parallax) */
.cover-contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("contact.png");
  min-height: 650px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}
/* style for cover photo of contact page (parallax) */


/* style for cover photo of experience page (parallax) */
.cover-exp {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("exp.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}
/* style for cover photo of experience page (parallax) */


/* style for cover photo of education page (parallax) */
.cover-education {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("education.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}
/* style for cover photo of education page (parallax) */


/* style for the text in home page to be in the center of the photo*/
.cover-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ddd;
}
/* style for the text in home page to be in the center of the photo*/


/* style of the navbar */
.navbar {
  background-color: #6a6366;
  position: fixed;
  top: 0;
  width: 100vw;
  margin: 0;
  padding: 0.5rem 0;
  padding-right: 2rem;
  box-sizing: border-box;

}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: #6a6366;
  text-decoration: underline;

}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}
/* style of the navbar */


section {
  margin-top: 1rem;
  height: 100vh;
  padding: 1rem;
  color: #ddd;
  box-sizing: border-box;
}


/* style of bootstrap in the skills page */
.progress {
  border: 1px solid #ddd;
  background-color: black;
  margin: 1rem;
  opacity: 0.7;
}

.progress:hover {
  opacity: 1;
}
/* style of bootstrap in the skills page */


/* style of footer in all pages */
footer {
  background-color: #6a6366;
  position: fixed;
  text-align: center;
  color: #f2f2f2;
  bottom: 0;
  width: 100vw;
  margin: 0;
}
/* style of footer in all pages */


/* style of contact page */
.contain {
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 600px) {
  .contain {
    padding: 0;
  }
}

input:focus,
textarea:focus {
  outline: 3px solid #555;
}

input,
textarea,
button {
  width: 100%;
  border: 1px solid #555;
}

.grid {
  box-shadow: 0 0 5px 0 #555;
}

@media (min-width: 700px) {

  .grid {
    opacity: 0.8;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .grid:hover {
    opacity: 1;
  }

  .grid>* {
    padding: 2rem;
  }
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 1rem 0;
  font-size: 0.8rem;
  color: lightgrey;
}

.contacts {
  background: #555;
  color: #ddd;
  border-radius: 2rem 0 0 2rem;
}


form {
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  border-radius: 0 2rem 2rem 0;
}

.full-width {
  grid-column: 1 / 3;
}

button,
input,
textarea {
  padding: 1rem;
}

button {
  background: #ddd;
  width: 100%;
  border: none;
}

button:hover,
button:focus {

  background: #555;
  color: lightgray;
  outline: 0;
}
/* style of contact page */

/* all media queries for best resposive in the style.css and all pages */